@import '_variables.scss';

@media (min-width: 992px) {

  .header_logo{
    display: flex;
    justify-content: center;
    align-items: center;
    label{
      margin: 0 30px;
      input{
        width: 30vw;
      }
    }
  }
  .header_user{
    padding-top: 10px;
  }

  .page_slider{
    .carousel-inner{
      .carousel-item{
        height: 85vh;
        div{
          margin-top: 30vh;
          p:nth-of-type(1){
            font-size: 2rem;
          }
          h2{
            font-size: 6rem;
          }
          p:nth-of-type(2){
            max-width: 40vw;
            font-size: 1.1rem;
            margin-bottom: 25px;
          }
          button{
            margin-right: 15px;
            width: 150px;
          }
        }
      }
    }
  }

  .page_ads {
    background-position-y: 50%;
    div{
      //h6:nth-of-type(1){
      //  margin-right: 150px;
      //  letter-spacing: 5px;
      //  margin-top: 0;
      //  font-size: 1.5rem;
      //}
      //h6:nth-of-type(2){
      //  max-width: 600px;
      //  font-size: 3.9rem;
      //  margin-left: 380px;
      //  margin-top: 20px;
      //}
      //h6:nth-of-type(3){
      //  margin-left: 900px;
      //  margin-top: 30px;
      //  font-size: 2rem;
      //  width: 200px;
      //}
    }
  }




}


