@import '_variables.scss';

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.selector-for-some-widget{
  box-sizing: content-box;
}

html{
  font-size: 62.5%;
}

body{
  font-family: 'Montserrat', sans-serif;
}

/* ---------- ANIMATIONS ----------*/

@keyframes rotation {
  0%{
    transform: rotate(20deg);
  }
  20%{
    transform: rotate(-20deg);
  }
  40%{
    transform: rotate(20deg);
  }
  60%{
    transform: rotate(-20deg);
  }
  80%{
    transform: rotate(20deg);
  }
  100%{
    transform: rotate(0deg);
  }
}


/* -------- PAGE HEADER ----------*/

.page_header{
  text-align: center;
  white-space: nowrap;
  margin: 20px 0 0 0;
  h1{
    font-weight: 700;
    position: relative;
  }
  h1:before{
    content: "\2022";
    font-size: 2.7rem;
    color: $primary;
    position: absolute;
    top: -17px;
    left: calc(50% - 32px)
  }
  label{
    position: relative;
    margin: 15px 0;
    input{
      border: 1px solid transparent;
      background-color: #F0F0F0;
      border-radius: 20px;
      box-shadow: none;
      padding: 10px;
      width: 80vw;
    }
    i{
      position: absolute;
      top: 7px;
      right: 15px;
      font-size: 2rem;
      cursor: pointer;
    }
  }

  .header_user{
    display: flex;
    justify-content: center;
    margin: 10px 0;
    i,p{
      cursor: pointer;
    }
    p{
      font-size: 1rem;
      line-height: 20px;
      position: relative;
    }
    i{
      font-size: 2.2rem;
      padding: 0 5px 0 15px;
    }
    p:nth-of-type(2):before{
      content: "\2022";
      color: $primary;
      position: absolute;
      font-size: 8rem;
      left: -17px;
      bottom: 16px;
    }
    p:nth-of-type(2):after{
      content: "0";
      color: $white;
      position: absolute;
      font-size: 1rem;
      font-weight: 500;
      left: -8.5px;
      bottom: 10px;
    }
  }

  nav{
    .header_nav{
      padding: 9px 20px;
      background-color: $secondary;
      color: $white;
      font-size: 1.5rem;
    }
    .hamburger-menu{
      display: flex;
      justify-content: flex-end;
      p{
        margin-bottom: 0;
        cursor: pointer;
      }
    }
    .hamburger{
      padding-top: 3px;
      padding-left: 5px;
      cursor: pointer;
    }
    .bar1, .bar2, .bar3 {
      width: 15px;
      height: 1px;
      background-color: $white;
      margin: 3px 2px;
    }


    .header_menu{
      list-style: none;
      background-color: $secondary;
      color: $white;
      padding-bottom: 10px;
      margin-bottom: 0;
      li{
        padding: 5px 20px;
        text-align: left;
        font-size: 1.2rem;
        font-weight: 500;
        cursor: pointer;
      }
    }

    .header_menu.open{
      display: block;
    }
  }
}

/* CAROUSEL */

.page_slider{
  .carousel-inner{
    .carousel-item{
      background-image: url("../images/carousel1.jpg");
      background-size: cover;
      background-position: 50%;
      height: 60vh;
      div{
        color: $white;
        p:nth-of-type(1){
          letter-spacing: 7px;
          font-weight: 500;
          margin-bottom: 0;
        }
        p:nth-of-type(2){
          text-align: justify;
        }
        button{
          border: 1px solid $white;
          background-color: transparent;
          padding: 10px;
          border-radius: 30px;
          width: 110px;
          color: $white;
          font-weight: 500;
        }
        button:nth-of-type(2){
          background-color: $white;
          color: #000;
        }
        .carousel-promo{
          font-weight: bolder;
          width: 160px;
          height: 160px;
          position: absolute;
          border-radius: 90%;
          top: 40px;
          right: 100px;
          z-index: 1;
          background-color: $primary;
          padding-top: 12px;
          animation: rotation 900ms ease-in;
          p{
            text-align: center;
            color: white;
            font-size: 1.5rem;
            letter-spacing: 0;
            padding: 0;
            margin: 0;
          }
          p:nth-of-type(1){
            font-size: 1.2rem;

          }
          p:nth-of-type(2){
            font-size: 6rem;
            margin-bottom: 0;
            padding-top: -15px;
          }
        }
        .carousel-promo:after{
          content: "";
          border: 1px solid #F9599c;
          width: 150px;
          height: 150px;
          border-radius: 90%;
          position: absolute;
          top: 5px;
          left: 5px;
        }
      }
    }
    div:nth-of-type(2){
      background-image: url("../images/carousel2.jpg");
    }
    div:nth-of-type(3){
      background-image: url("../images/carousel3.jpg");
    }
  }
}


.page_advantages{
  background-color: #F8F8F8;
  h4{
    color: #000000;
    text-align: center;
    padding: 20px 0;
    font-weight: 600;
    i{
      color: $secondary;
    }
  }
  h4:nth-of-type(2){
    background-color: $primary;
    color: $white;
    i{
      color: $white;
    }
  }
}

.page_title{
  text-align: center;
  font-weight: 600;
  font-size: 3rem;
  padding: 20px 0;
}

.page_browse{
  ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    li{
      padding: 10px 25px;
      margin: 5px;
      border-radius: 20px;
      background-color: #EBEBEB;
      cursor: pointer;
    }
  }

  .products_container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    .page_product{
      background-size: contain;
      background-position: 50%;
      background-repeat: no-repeat;
      height: 60vh;
      position: relative;
      padding: 0;
      border: 5px solid $white;

      span{
        border: 2px solid #fff;
        background-color: #fff;
        color: #000;
        height: 30px;
        width: 30px;
        border-radius: 90px;
        display: inline-block;
        text-align: center;
        cursor: pointer;
        position: absolute;
        bottom: calc(13% - 10px);
        transition: width 200ms ease-in;
        i{
          font-size: 1.60rem;
          line-height: 28px;
        }
      }
      span:nth-of-type(1){
        right: calc(50% - 70px);
      }
      span:nth-of-type(2){
        right: calc(50% - 105px);
      }

      span:nth-of-type(1):hover{
        width: 90px;
        text-align: left;
      }
      span:nth-of-type(1){
        i:after{
          content: "ADD TO CART";
          font-size: 0.7rem;
          white-space: nowrap;
          position: absolute;
          top: 0;
          left: 22px;
          color: transparent;
          transition: color 0s ease-out;
        }
      }

      span:nth-of-type(1):hover i:after{
        color: #000;
        transition: color 500ms ease-in;
      }
    }
    div:nth-of-type(1){
      background-image: url("../images/1.jpg");
    }
    div:nth-of-type(2){
      background-image: url("../images/2.jpg");
    }
    div:nth-of-type(3){
      background-image: url("../images/3.jpg");
    }
    div:nth-of-type(4){
      background-image: url("../images/4.jpg");
    }
    div:nth-of-type(5){
      background-image: url("../images/5.jpg");
    }
    div:nth-of-type(6){
      background-image: url("../images/1.jpg");
    }
    div:nth-of-type(7){
      background-image: url("../images/2.jpg");
    }
    div:nth-of-type(8){
      background-image: url("../images/3.jpg");
    }
  }
}

.page_ads{
  background-image: url("../images/showing.jpg");
  width: 90vw;
  margin: 20px auto;
  height: 30vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: 50%;
  div{
    position: relative;
    height: 40vh;
    width: 90vw;
    h6{
      position: absolute;
    }
    h6:nth-of-type(3){
      color: #fff;
      background-color: $primary;
      border-radius: 90px;
      width: 140px;
      text-align: center;
      padding: 8px;
      cursor: pointer;
    }
  }
  div:after{
    content: "NEW";
    background-color: #50E550;
    color: #fff;
    position: absolute;
    top: 20px;
    left: 20px;
    border-radius: 90px;
    padding: 0 15px;
    font-size: 1.5rem;
    font-weight: bolder;
  }
}

footer{
  background-color: $secondary;
  color: #8F8F8F;
  .footer_logo{
    text-align: center;
    font-weight: 700;
    position: relative;
    font-size: 2.7rem;
    color: $white;
    padding: 40px;
  }
  .footer_logo:before{
    content: "\2022";
    font-size: 2.7rem;
    color: $primary;
    position: absolute;
    top: 22.5px;
    left: calc(50% - 34.2px)
  }
  .footer_container{
    padding-left: 10px;

    h6{
      color: $white;
      font-size: 1.7rem;
      font-weight: 600;
    }

    div:nth-of-type(2){   //COMPANY SECTION
      .company_links{
        display: flex;
        li{
          list-style: none;
          padding: 5px 30px;
          cursor: pointer;
          position: relative;
        }
        li:before{
          content: "";
          border: 1px solid $primary;
          width: 5px;
          height: 5px;
          border-radius: 50%;
          position: absolute;
          left: 5px;
          top: calc(50% - 2.5px);
        }
        li:hover{
          color: $white;
        }
        li:hover::before{
          background-color: $primary;
        }
      }
    }

    div:nth-of-type(3){    //NEWS SECTION
      ul{
        position: relative;
        margin-left: 60px;
      }
      ul:before{
        content: "";
        background-image: url("../images/carousel1.jpg");
        width: 50px;
        height: 50px;
        position: absolute;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 50%;
        left: -60px;
      }
      li{
        list-style: none;
      }
      li:nth-of-type(1){
        font-size: 1.4rem;
        font-weight: bolder;
        color: #4b4b4b;
      }
      li:nth-of-type(3){
        color: $primary;
        font-weight: bolder;
        cursor: pointer;
      }
      li:nth-of-type(3):hover{
        color: #fff;
      }
    }

    div:nth-of-type(4){    //CONTACT SECTION
      li{
        list-style: none;
        padding: 10px 0;
      }
      li:before{
        content: "C.";
        color: $primary;
        padding-right: 10px;
      }
      li:nth-of-type(2):before{
        content: "A.";
      }
      li:nth-of-type(3):before{
        content: "T.";
      }
      li:nth-of-type(4):before{
        content: "E.";
      }
    }
  }

  .footer_social{
    border-top: 1px solid #4b4b4b;
    padding-top: 50px;
    div{
      text-align: center;
      width: 100vw;
    }
    i{
      font-size: 3rem;
      color: #fff;
      transition: color 500ms;
      padding: 7px;
      cursor: pointer;
    }
    i:nth-of-type(1):hover{
      color: #5F53C4;
    }
    i:nth-of-type(2):hover{
      color: #C1463A;
    }
    i:nth-of-type(3):hover{
      color: #3B5A9D;
    }
    i:nth-of-type(4):hover{
      color: #B9051D;
    }
    i:nth-of-type(5):hover{
      color: #52A7E7;
    }
    i:nth-of-type(6):hover{
      color: #C90600;
    }
    i:nth-of-type(7):hover{
      color: #000000;
    }

    p{
      color: #fff;
      padding: 30px;
      text-align: center;
      font-weight: bolder;
    }
  }
}

