@import '_variables.scss';

@media (min-width: 768px) {

  .header_menu{
    display: flex;
    justify-content: center;
    padding: 10px;
    li:hover{
      color: $primary;
      background-color: transparent;
    }
    li:nth-of-type(4){
      position: relative;
    }
    li:nth-of-type(4):after{
      position: absolute;
      top: -15px;
      left: 20px;
    }
  }

  .header_nav{
    display: none;
  }

  .page_slider{
    .carousel-inner{
      .carousel-item{
        height: 65vh;
        div{
          p:nth-of-type(1){
            font-size: 1.5rem;
          }
          h2{
            font-size: 4rem;
            font-weight: 600;
          }
          p:nth-of-type(2){
            max-width: 50vw;
            font-size: 1.1rem;
            margin-bottom: 25px;
          }
          button{
            margin-right: 15px;
            width: 125px;
          }
          .carousel-promo{
            display: inline-block;
          }
        }
      }
    }
  }

  .page_ads {
    div{
      h6:nth-of-type(1){
        font-size: 2rem;
        letter-spacing: 5px;
        right: calc(15% - 20px);
      }
      h6:nth-of-type(2){
        top: calc(30% - 10px);
        font-size: 4rem;
        max-width: none;
        right: calc(5% - 25px);
      }
      h6:nth-of-type(3){
        top: calc(60% - 20px);
        right: calc(5% - 1px);
        font-size: 2.5rem;
        width: 200px;
      }
    }
  }
}