@import '_variables.scss';

@media (min-width: 768px) {

  .header_menu{
    display: flex;
    justify-content: center;
    padding: 10px;
    li:hover{
      color: $primary;
      background-color: transparent;
    }
    li:nth-of-type(4){
      position: relative;
    }
    li:nth-of-type(4):after{
      position: absolute;
      top: -15px;
      left: 20px;
    }
  }

  .header_nav{
    display: none;
  }

  .carousel-inner{
    div{
      height: 65vh;
    }
  }
}


