@import '_variables.scss';

@media (min-width: 0){
  .header_menu{
    display: none;
    li:hover{
      color: $secondary;
      background-color: #CBCBCB;
      border-radius: 5px;
    }
    li:nth-of-type(4):after{
      content: "NEW";
      padding: 0 5px;
      font-size: 0.9rem;
      margin-left: 5px;
      border: 1px solid $primary;
      background-color: $primary;
      border-radius: 9px;
      color: #fff;
      letter-spacing: 0.7px;
    }
  }

  .page_slider{
    .carousel-inner{
      .carousel-item{
        div{
          margin-top: 22vh;
          margin-left: 15vw;
          p:nth-of-type(1){
            font-size: 1.2rem;
          }
          h2{
            font-size: 2.6rem;
            font-weight: 600;
          }
          p:nth-of-type(2){
            max-width: 70vw;
          }
          .carousel-promo{
            display: none;
          }
        }
      }
    }
  }

  .page_ads {
    div{
      h6:nth-of-type(1){
        top: calc(20% - 10px);
        right: calc(20% - 20px);
      }
      h6:nth-of-type(2){
        top: calc(30% - 20px);
        font-size: 2rem;
        font-weight: 600;
        max-width: 100px;
        right: calc(15% - 25px);
      }
      h6:nth-of-type(3){
        top: calc(60% - 30px);
        right: calc(5% - 1px);
      }
    }
  }

}

@media (min-width: 576px) {

  .carousel-inner{

  }

}


