@import '_variables.scss';

@media (min-width: 0){
  .header_menu{
    display: none;
    li:hover{
      color: $secondary;
      background-color: #CBCBCB;
      border-radius: 5px;
    }
    li:nth-of-type(4):after{
      content: "NEW";
      padding: 0 5px;
      font-size: 0.9rem;
      margin-left: 5px;
      border: 1px solid $primary;
      background-color: $primary;
      border-radius: 9px;
      color: #fff;
      letter-spacing: 0.7px;
    }
  }


}

@media (min-width: 576px) {

  .carousel-inner{
    div{
      height: 50vh;
    }
  }

}


